body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New, monospace';
}

#root, body, html {
  width: 100%;
  height: 100%;
  background-color: #20222b;
  color: #fff;
}

a {
  color: #fff;
}
